*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clt-dark: #303030;
  --clr-accent: #ffae03;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body {
  box-sizing: border-box;
  /* width: 100vw; */
  height: 100vh;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.nav-bar {
  display: none;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: var(--clt-dark);
  z-index: 5;
}

.header-container {
  /* width: 100vw; */
  /* border: 2px solid red; */
  background-color: var(--clt-dark);
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header-img {
  width: 100px;
}

/* ________________________________________________Intro________________________________________________ */

.intro-div {
  position: relative;
}

.intro-img {
  max-width: 100%;
}

.intro-title {
  line-height: 1;
  margin: 0;
  font-weight: var(--fw-reg);
  margin-bottom: 0.25em;
  /* font-size: 80px; */
  font-weight: var(--fw-reg);
}

strong {
  font-weight: var(--fw-bold);
}

.intro-subtitle {
  display: inline-block;
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  margin: 0;
  font-size: var(--fs-h3);
}

.intro-img {
  box-shadow: var(--bs);
}

/* ________________________________________________About me________________________________________________ */

.about-me-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clt-dark);
  min-height: fit-content;
  color: #fff;
}

.about-me-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-heading {
  color: var(--clr-accent);
}

.about-me-img {
  width: 300px;
  border-radius: 10px;
}

.about-me-p {
  padding: 20px 30px;
}

/* ________________________________________________projects________________________________________________ */

.my-projects-div {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.my-projects-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-imgs-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

.project-img {
  max-width: 300px;
}

/* _______________________________________________Contacts________________________________________________ */

.contact-div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 200px; */
  background-color: var(--clt-dark);
  color: var(--clr-light);
  padding: 20px 0px;
}

.header-mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contct-title {
}

.contact-email {
  font-size: x-large;
  color: var(--clr-accent);
}

.contact-email:hover {
  color: var(--clr-light);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  gap: 20px;
}

.social-list__link {
  font-size: 50px;
  color: var(--clr-accent);
}

.social-list__link:hover {
  color: var(--clr-light);
}

.social-list__item {
}

.fa-brands {
}
