@media (min-width: 600px) {
  /* ________________________________________________Intro/hero________________________________________________ */
  .intro-div {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title1"
      "img title2"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro-img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }

  .intro-title {
    font-size: xx-large;
    text-wrap: wrap;
    grid-area: title1;
    align-self: self-end;
    font-weight: lighter;
  }

  .intro-title-2 {
    font-size: 50px;
    grid-area: title2;
    font-weight: bolder;
  }

  .intro-subtitle {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 3;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

  /* ________________________________________________About me________________________________________________ */

  .about-me-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-areas:
      "content img"
      "content img"
      "content img"
      "content img"
      "content img";
    grid-template-columns: 300px min-content;
    width: min-content;
    margin: 0 auto;
  }

  .about-me-heading {
    color: var(--clr-accent);
  }

  .about-me-img {
    grid-area: img;
    padding-bottom: 50px;
  }

  .about-me-p {
    grid-area: content;
    font-size: 19px;
    font-weight: 200;
  }

  /* ________________________________________________projects________________________________________________ */

  .my-projects-div {
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
  }

  #project-imgs-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
  }

  .project-img-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .project-img {
    min-width: 400px;
  }

  .nav-bar {
    display: none;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 36.8%;
    left: 87.5%;
    transform: translate(-50%, -50%);
    background-color: var(--clt-dark);
    z-index: 5;
  }
}
