*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clt-dark: #303030;
  --clr-accent: #ffae03;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body {
  box-sizing: border-box;
  /* width: 100vw; */
  height: 100vh;
  margin: 0;
}

/* section {
  padding: 5em 2em;
} */

.nav-bar {
  display: none;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clt-dark);
  z-index: 5;
}

.nav-bar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.nav-btn {
  width: 200px;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  padding: 10px;
  border-radius: 20px;
  font-size: x-large;
  margin-top: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.header-container {
  width: 100vw;
  /* border: 2px solid red; */
  background-color: var(--clt-dark);
  position: fixed;
  z-index: 5;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header-img {
  width: 100px;
}

.header-nav-btn {
  margin-right: 25px;
  background-color: var(--clr-accent);
  width: 50px;
  height: 40px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

/* ________________________________________________Intro________________________________________________ */

.spacer {
  height: 50px;
}

.intro-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 80px 30px 0px 30px;
}

.intro-img {
  max-width: 100%;
}

.intro-title {
  line-height: 1;
  margin: 0;
  font-weight: var(--fw-reg);
  margin-bottom: 0.25em;
  /* font-size: 80px; */
}

strong {
  font-weight: var(--fw-bold);
  font-size: xx-large;
}

.intro-subtitle {
  display: inline-block;
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 50px;
  margin: 0;
  font-size: var(--fs-h3);
}

.intro-img {
  box-shadow: var(--bs);
  border-radius: 10px;
}

/* ________________________________________________About me________________________________________________ */
.about-spacer {
  height: 95px;
}

.about-me-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clt-dark);
  min-height: fit-content;
  color: #fff;
}

.about-me-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-heading {
  color: var(--clr-accent);
}

.about-me-img {
  width: 300px;
  border-radius: 10px;
}

.about-me-p {
  padding: 20px 30px;
}

/* ________________________________________________projects________________________________________________ */

.project-spacer {
  height: 95px;
}

.my-projects-div {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.my-projects-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-imgs-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

.project-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.container {
  position: relative;
  width: 400px;
  background-color: var(--clt-dark);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 254px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: var(--clr-accent);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* _______________________________________________Contacts________________________________________________ */

.contact-div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 200px; */
  background-color: var(--clt-dark);
  color: var(--clr-light);
  padding: 20px 0px;
}

.header-mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  text-align: center;
}

.contact-email {
  font-size: x-large;
  color: var(--clr-accent);
}

.contact-email:hover {
  color: var(--clr-light);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  gap: 20px;
}

.social-list__link {
  font-size: 50px;
  color: var(--clr-accent);
}

.social-list__link:hover {
  color: var(--clr-light);
}

.social-list__item {
}

.fa-brands {
}
